{
  default_sni local.dev
  admin :2019
  local_certs
}

(tls) {
  encode gzip
  tls /certs/localhost.crt /certs/localhost.key {
    on_demand
  }
}

# Cache static files for 60 days
(static) {
	@static {
		file
		path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.json
	}
	header @static Cache-Control max-age=31536000
}

(security) {
   header * {
    -Server
    Server "Apache/2"
    Powered-By "PHP/5.4"
    -x-powered-by
  }
}


local.dev, localhost {
  respond "nada por aqui"
}

switch.local.dev {
  import tls
  root * /srv/jogos
  file_server browse
}

soualugue.local.dev {
  import static
  import tls
  reverse_proxy soualugue-nginx:80
}

plex.local.dev {
  import tls
  reverse_proxy plex:32400
}

transmission.local.dev {
  import tls
  reverse_proxy transmission:9091
}

sonarr.local.dev {
  import tls
  reverse_proxy sonarr:8989
}

sabnzbd.local.dev {
  import tls
  reverse_proxy sabnzbd:8080
}

smartcollect.local.dev {
  import static
  import security
  import tls
  reverse_proxy smtcollect-nginx:80
}

conferencia.local.dev {
  import static
  import security
  import tls
  reverse_proxy conferencia-nginx:80
}

websockets.local.dev {
  @websockets {
    header Connection *Upgrade*
    header Upgrade    websocket
  }
  reverse_proxy @websockets sisge-websockets:6001 {
    header_up Host {host}
    header_up X-Real-IP {remote_host}
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto {scheme}
  }
}

app.local.dev, ricardo.local.dev, pano.local.dev, sisge.local.dev, amed.local.dev, libera.local.dev {
  import static
  import security
  import tls
  reverse_proxy sisge-nginx:80
}

consultare.local.dev, saei.local.dev, clubedoprofessor.local.dev, central-consultare.local.dev {
  import static
  import security
  import tls
  reverse_proxy consultare-nginx:80
}

consultare.local.dev:3306 {
  reverse_proxy consultare-mysql:3306
}

chrome.local.dev {
  reverse_proxy consultare-chrome:9222
}

ava.local.dev {
  import static
  import security
  import tls
  reverse_proxy sisge-moodle:8080
}


ricardof.local.dev {
  import tls
  reverse_proxy ricardof.dev:4000
}

cadastromedico.local.dev {
  import tls
  reverse_proxy cadastromedico-nginx:80
}

cadastrousuario.local.dev {
  import tls
  reverse_proxy cadastrousuario-nginx:80
}
